.buttonContainer {
  text-align: left;
  width: 100%;
  max-width: 180px;
  display: grid;
  align-items: center;

  .mcButton {
    background-color: orange;
    margin: 0;
    align-self: center;
    cursor: pointer;
    width: auto;
    padding: 0 10px;
    max-width: 180px;
    min-height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.8em;
    text-shadow: grey;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: darkorange;
    }

    &:active {
      outline: none;
    }
  }

  .subtitle {
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
  }
}
