.descriptionContainer {
  width: 200px;
  text-align: right;
  font-size: 0.9em;
  margin-top: 5px;
  display: inline-block;
}

.orderNum {
  width: 170px;
  word-wrap: break-word;
  display: flow-root;
  margin-left: 37px;
}

.margin {
  margin-right: -8px;
}